* {
  box-sizing: border-box;
  color: #D3D3A3;
}

body {
  margin: 0 auto;
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: #404040;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
  border-bottom: solid 0.2rem #D3D3A3;
}

h1 {
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 600;
}

main {
  margin: 0 auto;
  max-width: 45rem;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-style: italic;
}

section {
  border-bottom: solid 0.1rem #D3D3A3;
}

label[for="radio5"] section {
  border-bottom: none;
}

.text-row {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #9ACD32;
}

.radiobutton {
  display: none;
}

label {
  cursor: inherit;
}

.plus-icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem 0;
  background-image: url(./assets/plus-lime.svg);
  /* background-size: 70%; */
  background-repeat: no-repeat;
  background-position: center;
}

.img-box {
  display: none;
  max-width: 30rem;
  height: fit-content;
  margin: 0.5rem auto;
  border: 0.1rem solid #000000;
  border-radius: 0.2rem;
}

@media (hover: hover) {
  main .plus-icon {
    display: none;
  }
  main:hover {
    cursor: pointer;
  }
  main:hover h2 {
    color: #D3D3A3;
    transition: 0.2s;
  }
  main:hover .plus-icon {
    display: block;
    background-image: url(./assets/plus.svg);
    transition: 0.2s;
  }
}

@media (hover: hover) {
  section:hover .img-box {
    display: block;
    transition: 0.2s;
  }
  section:hover .text-row .plus-icon {
    rotate: 45deg;
    transition: 0.2s;
  }
}

#radio1:checked ~ label[for="radio1"] section .img-box,
#radio2:checked ~ label[for="radio2"] section .img-box,
#radio3:checked ~ label[for="radio3"] section .img-box,
#radio4:checked ~ label[for="radio4"] section .img-box,
#radio5:checked ~ label[for="radio5"] section .img-box {
  display: block;
}

#radio1:checked ~ label[for="radio1"] section .text-row .plus-icon,
#radio2:checked ~ label[for="radio2"] section .text-row .plus-icon,
#radio3:checked ~ label[for="radio3"] section .text-row .plus-icon,
#radio4:checked ~ label[for="radio4"] section .text-row .plus-icon,
#radio5:checked ~ label[for="radio5"] section .text-row .plus-icon {
  rotate: 45deg;
  transition: 0.2s;
}

#radio1:checked ~ label[for="radio1"] section .text-row h2,
#radio2:checked ~ label[for="radio2"] section .text-row h2,
#radio3:checked ~ label[for="radio3"] section .text-row h2,
#radio4:checked ~ label[for="radio4"] section .text-row h2,
#radio5:checked ~ label[for="radio5"] section .text-row h2 {
  color: #D3D3A3;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 0.2rem #D3D3A3;
  background-color: #000000;
}

.rss-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 8rem;
  height: 4rem;
  background-image: url('./assets/rss.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: left center;
}

.rss-year {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #D3D3A3;
  font-weight: 900;
  line-height: 2.4;
  transition: 0.3s;
}
.rss-link:hover .rss-year {
  letter-spacing: 0.2rem;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 6rem;
  height: 4rem;
  background-image: url('./assets/github.svg');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #D3D3A3;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
  text-align: right;
}

.github-link:hover {
  letter-spacing: 0.05rem;
}

@media (hover: none) {

}

@media (hover: hover) {

}

@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}