* {
  box-sizing: border-box;
  color: #D3D3A3;
}

body {
  margin: 0 auto;
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: #404040;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
  border-bottom: solid 0.2rem #D3D3A3;
}

h1 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 400;
}

main {
  margin: 0 auto;
  max-width: 45rem;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-style: italic;
}

section {
  border-bottom: solid 0.1rem #D3D3A3;
}

label[for="radio5"] section {
  border-bottom: none;
}

.text-row {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #9ACD32;
  transition: 0.3s;
}

.radiobutton {
  display: none;
}

label {
  cursor: inherit;
}

.plus-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: 1.2rem 0;
  background-image: url(./assets/plus-lime.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.img-box {
  width: 0;
  height: 0;
  margin: 0.5rem auto;
  border: 0.1rem solid #000000;
  border-radius: 0.2rem;
  transition: 3s;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: 3s;
}

@media (hover: hover) {
  main .plus-icon {
    display: none;
  }
  main:hover {
    cursor: pointer;
  }
  main:hover h2 {
    color: #D3D3A3;
  }
  main:hover .plus-icon {
    display: block;
    background-image: url(./assets/plus.svg);
  }
  section:hover .img-box {
    visibility: visible;
    max-width: 30rem;
    width: fit-content;
    height: fit-content;
  }
  section:hover img {
    opacity: 1;
  }
  section:hover .plus-icon {
    rotate: 45deg;
    transition: 0.3s;
  }
}

#radio1:checked ~ label[for="radio1"] .img-box,
#radio2:checked ~ label[for="radio2"] .img-box,
#radio3:checked ~ label[for="radio3"] .img-box,
#radio4:checked ~ label[for="radio4"] .img-box,
#radio5:checked ~ label[for="radio5"] .img-box {
  visibility: visible;
  max-width: 30rem;
  width: fit-content;
  height: fit-content;
}

#radio1:checked ~ label[for="radio1"] img,
#radio2:checked ~ label[for="radio2"] img,
#radio3:checked ~ label[for="radio3"] img,
#radio4:checked ~ label[for="radio4"] img,
#radio5:checked ~ label[for="radio5"] img {
  opacity: 1;
}

#radio1:checked ~ label[for="radio1"] .plus-icon,
#radio2:checked ~ label[for="radio2"] .plus-icon,
#radio3:checked ~ label[for="radio3"] .plus-icon,
#radio4:checked ~ label[for="radio4"] .plus-icon,
#radio5:checked ~ label[for="radio5"] .plus-icon {
  background-image: url(./assets/plus.svg);
  rotate: 45deg;
}

#radio1:checked ~ label[for="radio1"] h2,
#radio2:checked ~ label[for="radio2"] h2,
#radio3:checked ~ label[for="radio3"] h2,
#radio4:checked ~ label[for="radio4"] h2,
#radio5:checked ~ label[for="radio5"] h2 {
  color: #D3D3A3;
}

section:active .img-box {
  box-shadow: 0 0 0.3rem 0.3rem #9ACD32;
  opacity: 0.3;
}

section:active h2 {
  color: #9ACD32;
}

#radio1:checked ~ label[for="radio1"] section:active h2,
#radio2:checked ~ label[for="radio2"] section:active h2,
#radio3:checked ~ label[for="radio3"] section:active h2,
#radio4:checked ~ label[for="radio4"] section:active h2,
#radio5:checked ~ label[for="radio5"] section:active h2 {
  color: #9ACD32;
}

section:active .plus-icon {
  background-image: url(./assets/plus-lime.svg);
}

#radio1:checked ~ label[for="radio1"] section:active .plus-icon,
#radio2:checked ~ label[for="radio2"] section:active .plus-icon,
#radio3:checked ~ label[for="radio3"] section:active .plus-icon,
#radio4:checked ~ label[for="radio4"] section:active .plus-icon,
#radio5:checked ~ label[for="radio5"] section:active .plus-icon {
  background-image: url(./assets/plus-lime.svg);
}

footer {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 0.2rem #D3D3A3;
  background-color: #000000;
}

.rss-link {
  width: 4rem;
  height: 2.5rem;
  background-image: url('./assets/rss.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.year {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 0.4rem;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 4.5rem;
  height: 2.5rem;
  background-image: url('./assets/github.svg');
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: #D3D3A3;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s;
  text-align: right;
}

@media (hover: hover) {
  .rss-link:hover {
    background-image: url('./assets/rss-lime.svg');
  }
  .github-link:hover {
    background-image: url('./assets/github-lime.svg');
    letter-spacing: 0.05rem;
    color: #9ACD32;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
    font-weight: 500;
  }
  h2  {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .plus-icon {
    margin: 1.4rem 0;
    background-size: 100%;
  }
  .rss-link {
    width: 5rem;
    height: 3rem;
  }
  .year {
    font-size: 1.4rem;
    line-height: 0.4rem;
  }
  .github-link {
    width: 5.5rem;
    height: 3rem;
    background-size: 1.7rem;
    padding-left: 2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  h2  {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .plus-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin: 1.6rem 0;
    background-size: 120%;
  }
  .rss-link {
    width: 6.5rem;
    height: 4rem;
  }
  .year {
    font-size: 1.6rem;
    line-height: 0.8rem;
  }
  .github-link {
    width: 6.3rem;
    height: 4rem;
    background-size: 2rem;
    padding-left: 2rem;
    font-size: 1.6rem;
  }
}